@using web_app.Models;
@using web_app.Services
@using Microsoft.AspNetCore.Components.Web
@using System.Text.Json;
@inject DatabaseService databaseService


<style>
.container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
}
.nav>li {
  float: left;
}

.dropdown {
    margin-right: 10px;
}
.alert {
    margin: 0px;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

</style>

<header>
        <nav class="navbar navbar-expand-sm navbar-light mb-1" style="background-color: white; padding: auto;">
            <div class="container-fluid">
                <div class="d-sm-inline-flex justify-content-between">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filters
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li class="dropdown-header text-primary">Status</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("converted"))">Converted</a>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("purchased"))">Purchased</a>
                          <li class="dropdown-header text-primary">Campaign</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("saved-cart"))">Saved Cart</a>
                          <li class="dropdown-header text-primary">Country</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("jp"))">Japan</a>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("us"))">US</a>
                          <li class="dropdown-header text-primary">Language</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("ja"))">Japanese</a>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("en"))">English</a>
                          <!--
                          <li class="dropdown-header text-primary">Customer Set</li>
                          <a class="dropdown-item" @onclick="@(e => Filter = "jpbsd1")">jpbsd1</a>
                          <a class="dropdown-item" @onclick="@(e => Filter = "4")">4</a>
                          <a class="dropdown-item" @onclick="@(e => Filter = "6099")">6099</a>
                          -->
                      </div>
                    </div>
                    <input @bind="CurrentInput" @bind:event="oninput" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" style="margin-right: 10px; width: 300px">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Submit" style="margin-right: 10px;">Search</button>
                @foreach (var Filter in Filters)
                {
                    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="width: auto; padding-right:45px; margin-right: 10px">
                        @Filter
                        <button @onclick="(e => RemoveFilter(Filter))" type="button" class="btn-close" data-dismiss="alert" aria-label="Close" style="height: 4px; padding: 16px; padding-left: 5px">
                        </button>
                    </div>
                }
                </div>
            </div>
        </nav>
    </header>

<div>
<table class="table table-hover table-bordered">
  <thead style="background-color: #007DB8; color: white;">
  <tr>
    <th>Id</th>
    <th>Target</th>
    <th>Status</th>
    <th>Campaign</th>
    <th>Expiry</th>
    <th>When Created</th>
    <th>When Updated</th>
    <th>Content</th>
    <th>Country</th>
    <th>Language</th>
    <th>Customer Set</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var actionItem in databaseService.GetActionItems()) {
            @if (CurrentInput == "" || CurrentInput == null || actionItem.target.Contains(CurrentInput) || actionItem.ID.Equals(CurrentInput))
            {
                @if (CheckFilters(actionItem))
                {
                    <tr id="row" @onclick="(e => SelectItem(actionItem.ID.ToString() ?? string.Empty))" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
                        <th>@actionItem.ID</th>
                        <th>@actionItem.target</th>
                        <th>@actionItem.status</th>
                        <th>@actionItem.campaign</th>
                        <th>@actionItem.expiry</th>
                        <th>@actionItem.when_created</th>
                        <th>@actionItem.when_updated</th>
                        <th>@actionItem.content</th>
                        <th>@actionItem.country</th>
                        <th>@actionItem.language</th>
                        <th>@actionItem.customerset</th>
                    </tr>
                }
            }
        }
</tbody>
</table>
</div>

@if (@selectedItem != null)
{
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Action Item ID: @selectedItem.ID</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" style="margin-right: 0px">
        </button>
      </div>
      <div class="modal-body">
          <p><strong>Target:</strong> @selectedItem.target</p>
          <p><strong>Status:</strong> @selectedItem.status</p>
          <p><strong>Campaign:</strong> @selectedItem.campaign</p>
          <p><strong>Expiry:</strong> @selectedItem.expiry</p>
          <p><strong>When Created:</strong> @selectedItem.when_created</p>
          <p><strong>When Updated:</strong> @selectedItem.when_updated</p>
          <p><strong>Content:</strong> @selectedItem.content</p>
          <p><strong>Country:</strong> @selectedItem.country</p>
          <p><strong>Language:</strong> @selectedItem.language</p>
          <p><strong>Customer Set:</strong> @selectedItem.customerset</p>
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-dark" style="pointer-events: none;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
              </button>
              <button type="button" class="btn btn-warning">Message</button>
              <button type="button" class="btn btn-dark" style="pointer-events: none;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
              </button>
              <button type="button" class="btn btn-warning">Batch</button>
              <button type="button" class="btn btn-dark" style="pointer-events: none;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
              </button>
              <button type="button" class="btn btn-warning">Batch File</button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}

@code {

    ActionItem? selectedItem;
    string? selectedItemId;
    string? CurrentInput;
    public List<string> Filters = new List<string>();

    void SelectItem(string itemId)
    {
        selectedItemId = itemId;
        selectedItem = databaseService.GetActionItems().First(x => x.ID == int.Parse(itemId));
    }

    bool CheckFilters(ActionItem actionItem)
    {
        int count = 0;
        if (Filters.Contains(actionItem.status)) count++;
        if (Filters.Contains(actionItem.campaign)) count++;
        if (Filters.Contains(actionItem.country)) count++;
        if (Filters.Contains(actionItem.language)) count++;
        if (Filters.Contains(actionItem.customerset)) count++;
        if (count == Filters.Count())
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    void RemoveFilter(string Filter)
    {
        Filters.Remove(Filter);
    }

    void AddFilter(string Filter)
    {
        if (!Filters.Contains(Filter))
        {
            Filters.Add(Filter);
        }
    }

    /**
    string ConvertToString(string json)
    {
        JObject jObject = JObject.Parse(json);
        JToken jCart = jObject["cart"];
        string id = (string)jCart["id"];
        return id;

    }
    */

}
