@using web_app.Models;
@using web_app.Services;
@using web_app.Components;
@using Microsoft.AspNetCore.Components.Web;
@inject DatabaseService databaseService;

@code {
    [Parameter]
    public string? actionItemID { get; set; }

    public ActionItem? actionItem { get; set; }

    bool showMessage = false;

}

@{actionItem = databaseService.GetActionItems().FirstOrDefault(x => x.ID == int.Parse(actionItemID));}

@if (@showMessage == false && @actionItem != null )
{
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding-left:30px">
                    <h5 class="modal-title" id="exampleModalLabel">Action Item ID: @actionItem.ID</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" style="margin-right: 0px">
                    </button>
                </div>
                <div class="modal-body" style="padding:30px; padding-bottom:20px; padding-top:20px">

                    <table class="table" style="border-collapse:collapse; table-layout:fixed; border:solid 1px">
                        <tbody>
                            <tr>
                                <th>Target:</th>
                                <th>@actionItem.target</th>
                            </tr>
                            <tr>
                                <th>Status:</th>
                                <th>@actionItem.status</th>
                            </tr>
                            <tr>
                                <th>Campaign:</th>
                                <th>@actionItem.campaign</th>
                            </tr>
                            <tr>
                                <th>Expiry:</th>
                                <th>@actionItem.expiry</th>
                            </tr>
                            <tr>
                                <th>When Created:</th>
                                <th>@actionItem.when_created</th>
                            </tr>
                            <tr>
                                <th>When Updated:</th>
                                <th>@actionItem.when_updated</th>
                            </tr>
                            <tr>
                                <th>Content:</th>
                                <th>@actionItem.content</th>
                            </tr>
                            <tr>
                                <th>Country:</th>
                                <th>@actionItem.country</th>
                            </tr>
                            <tr>
                                <th>Language:</th>
                                <th>@actionItem.language</th>
                            </tr>
                            <tr> 
                                <th>Customer Set:</th>
                                <th>@actionItem.customerset</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button @onclick="@GetMessage" data-dismiss="modal" type="button" class="btn btn-outline-danger btn-lg" style="margin: 28px; margin-top: 0px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                    &nbsp;Message
                </button>
                <div class="modal-footer">
                    <button asp-page="~/Pages/Messages" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
else {
    <MessageDetails messageID="@messageID" />
}

@code {
    public Guid messageID;

    void GetMessage()
    {
        //Message message = databaseService.GetMessages().FirstOrDefault(x => x.action_item_id == actionItem.ID);
        //if (message != null) {
        //    messageID = message.ID;
         //   showMessage = true;
        //}
    }
}