@using web_app.Models;
@using web_app.Services
@using Microsoft.AspNetCore.Components.Web
@using System.Text.Json;
@inject DatabaseService databaseService


<style>
.container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
}
.nav>li {
  float: left;
}

.dropdown {
    margin-right: 10px;
}
.alert {
    margin: 0px;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

</style>

<header>
        <nav class="navbar navbar-expand-sm navbar-light mb-1" style="background-color: white; padding: auto; padding-top: 10px; padding-left: 5px">
            <div class="container-fluid">
                <div class="d-sm-inline-flex justify-content-between">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filters
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li class="dropdown-header text-primary">Status</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("converted"))">Converted</a>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("purchased"))">Purchased</a>
                          <li class="dropdown-header text-primary">Campaign</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("saved-cart"))">Saved Cart</a>
                          <li class="dropdown-header text-primary">Country</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("jp"))">Japan</a>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("us"))">US</a>
                          <li class="dropdown-header text-primary">Language</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("ja"))">Japanese</a>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("en"))">English</a>
                          <!--
                          <li class="dropdown-header text-primary">Customer Set</li>
                          <a class="dropdown-item" @onclick="@(e => Filter = "jpbsd1")">jpbsd1</a>
                          <a class="dropdown-item" @onclick="@(e => Filter = "4")">4</a>
                          <a class="dropdown-item" @onclick="@(e => Filter = "6099")">6099</a>
                          -->
                      </div>
                    </div>
                    <input @bind="CurrentInput" @bind:event="oninput" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" style="margin-right: 10px; width: 300px">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Submit" style="margin-right: 10px;">Search</button>
                @foreach (var Filter in Filters)
                {
                    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="width: auto; padding-right:45px; margin-right: 10px">
                        @Filter
                        <button @onclick="(e => RemoveFilter(Filter))" type="button" class="btn-close" data-dismiss="alert" aria-label="Close" style="height: 4px; padding: 16px; padding-left: 5px">
                        </button>
                    </div>
                }
                </div>
            </div>
        </nav>
    </header>

<div>
<table class="table table-hover table-bordered">
  <thead style="background-color: #007DB8; color: white;">
  <tr>
    <th>Id</th>
    <th>Target</th>
    <th>Status</th>
    <th>Campaign</th>
    <th>Expiry</th>
    <th>When Created</th>
    <th>When Updated</th>
    <th>Content</th>
    <th>Country</th>
    <th>Language</th>
    <th>Customer Set</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var actionItem in databaseService.GetActionItems()) {
            @if (CurrentInput == "" || CurrentInput == null || actionItem.Target.Contains(CurrentInput) || actionItem.Id.Contains(CurrentInput))
            {
                @if (CheckFilters(actionItem))
                {
                    <tr id="row" @onclick="(e => SelectItem(actionItem.Id ?? string.Empty))" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
                        <th>@actionItem.Id</th>
                        <th>@actionItem.Target</th>
                        <th>@actionItem.Status</th>
                        <th>@actionItem.Campaign</th>
                        <th>@actionItem.Expiry</th>
                        <th>@actionItem.When_created</th>
                        <th>@actionItem.When_updated</th>
                        <th>@actionItem.Content</th>
                        <th>@actionItem.Country</th>
                        <th>@actionItem.Language</th>
                        <th>@actionItem.CustomerSet</th>
                    </tr>
                }
            }
        }
</tbody>
</table>
</div>

@if (@selectedItem != null)
{
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Action Item ID: @selectedItem.Id</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" style="margin-right: 0px">
        </button>
      </div>
      <div class="modal-body" style="padding:30px; padding-bottom:20px; padding-top:20px">
          <!--
          <p><strong>Target:</strong> @selectedItem.Target</p>
          <p><strong>Status:</strong> @selectedItem.Status</p>
          <p><strong>Campaign:</strong> @selectedItem.Campaign</p>
          <p><strong>Expiry:</strong> @selectedItem.Expiry</p>
          <p><strong>When Created:</strong> @selectedItem.When_created</p>
          <p><strong>When Updated:</strong> @selectedItem.When_updated</p>
          <p><strong>Content:</strong> @selectedItem.Content</p>
          <p><strong>Country:</strong> @selectedItem.Country</p>
          <p><strong>Language:</strong> @selectedItem.Language</p>
          <p><strong>Customer Set:</strong> @selectedItem.CustomerSet</p>
          -->
          
          <table class="table">
          <tbody>
            <tr>
              <th>Target:</th>
              <th>@selectedItem.Target</th>
            </tr>
            <tr>
              <th>Status:</th>
              <th>@selectedItem.Status</th>
            </tr>
            <tr>
              <th>Campaign:</th>
              <th>@selectedItem.Campaign</th>
            </tr>
            <tr>
              <th>Expiry:</th>
              <th>@selectedItem.Expiry</th>
            </tr>
            <tr>
              <th>When Created:</th>
              <th>@selectedItem.When_created</th>
            </tr>
            <tr>
              <th>When Updated:</th>
              <th>@selectedItem.When_updated</th>
            </tr>
            <tr>
              <th>Content:</th>
              <th>@selectedItem.Content</th>
            </tr>
            <tr>
              <th>Country:</th>
              <th>@selectedItem.Country</th>
            </tr>
            <tr>
              <th>Language:</th>
              <th>@selectedItem.Language</th>
            </tr>
            <tr> 
              <th>Customer Set:</th>
              <th>@selectedItem.CustomerSet</th>
            </tr>
         </tbody>
         </table>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example" style="margin: 28px; margin-top: 0px">
              <button type="button" class="btn btn-outline-danger btn-lg">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                  &nbsp;Message</button>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}

@code {

    ActionItem? selectedItem;
    string? selectedItemId;
    string? CurrentInput;
    public List<string> Filters = new List<string>();

    void SelectItem(string itemId)
    {
        selectedItemId = itemId;
        selectedItem = databaseService.GetActionItems().First(x => x.Id == itemId);
    }

    bool CheckFilters(ActionItem actionItem)
    {
        int count = 0;
        if (Filters.Contains(actionItem.Status)) count++;
        if (Filters.Contains(actionItem.Campaign)) count++;
        if (Filters.Contains(actionItem.Country)) count++;
        if (Filters.Contains(actionItem.Language)) count++;
        if (Filters.Contains(actionItem.CustomerSet)) count++;
        if (count == Filters.Count())
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    void RemoveFilter(string Filter)
    {
        Filters.Remove(Filter);
    }

    void AddFilter(string Filter)
    {
        if (!Filters.Contains(Filter))
        {
            Filters.Add(Filter);
        }
    }

    /**
    string ConvertToString(string json)
    {
        JObject jObject = JObject.Parse(json);
        JToken jCart = jObject["cart"];
        string id = (string)jCart["id"];
        return id;

    }
    */

}
