@using web_app.Models;
@using web_app.Services
@using web_app.Components
@using Microsoft.AspNetCore.Components.Web
@using System.Text.Json;
@inject DatabaseService databaseService


<style>
.container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
}
.nav>li {
  float: left;
}
.dropdown {
    margin-right: 10px;
}
.alert {
    margin: 0px;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
</style>

<header>
        <nav class="navbar navbar-expand-sm navbar-light mb-1" style="background-color: white; padding: auto; padding-top: 10px; padding-left: 5px">
            <div class="container-fluid">
                <div class="d-sm-inline-flex justify-content-between">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filters
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li class="dropdown-header text-primary">Status</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("Dispatched"))">Dispatched</a>
                          <li class="dropdown-header text-primary">Content</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("binary data"))">Binary Data</a>
                      </div>
                    </div>
                    <input @bind="CurrentInput" @bind:event="oninput" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" style="margin-right: 10px; width: 300px">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Submit" style="margin-right: 10px;">Search</button>
                @foreach (var Filter in Filters)
                {
                    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="width: auto; padding-right:45px; margin-right: 10px">
                        @Filter
                        <button @onclick="(e => RemoveFilter(Filter))" type="button" class="btn-close" data-dismiss="alert" aria-label="Close" style="height: 4px; padding: 16px; padding-left: 5px">
                        </button>
                    </div>
                }
                </div>
            </div>
        </nav>
    </header>

<div>
<table class="table table-hover table-bordered">
  <thead style="background-color: #007DB8; color: white;">
  <tr>
    <th>ID</th>
    <th>Batch Forward ID</th>
    <th>Size</th>
    <th>Status</th>
    <th>Campaign</th>
    <th>Dispatched At</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var item in databaseService.GetBatchFiles()) {
            @if (CurrentInput == "" || CurrentInput == null || item.ID.ToString().Contains(CurrentInput))
            {
                @if (CheckFilters(item))
                {
                    <tr id="row" @onclick="(e => SelectItem(item.ID))" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
                        <th>@item.ID</th>
                        <th>@item.batch_id</th>
                        <th>@item.file_name</th>
                        <th>@item.status</th>
                        <th>@item.dispatched_at</th>
                        <th>@item.content</th>
                    </tr>
                }
            }
        }
</tbody>
</table>
</div>

@if (@selectedItemId != null)
{
    <!-- Modal -->
    <BatchFileDetails batchFileID="@selectedItemId" />
}

@code {

    public Guid selectedItemId;
    string? CurrentInput;
    public List<string> Filters = new List<string>();

    void SelectItem(Guid itemId)
    {
        selectedItemId = itemId;
    }

    bool CheckFilters(BatchFile batchFile)
    {
        int count = 0;
        if (Filters.Contains(batchFile.status)) count++;
        if (Filters.Contains(batchFile.content)) count++;
        if (count == Filters.Count())
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    void RemoveFilter(string Filter)
    {
        Filters.Remove(Filter);
    }

    void AddFilter(string Filter)
    {
        if (!Filters.Contains(Filter))
        {
            Filters.Add(Filter);
        }
    }

}