@using web_app.Models;
@using web_app.Services
@using web_app.Components
@using Microsoft.AspNetCore.Components.Web
@using System.Text.Json;
@inject DatabaseService databaseService

@code {
    [Parameter]
    public Guid? inputItem { get; set; }
}

<style>
.container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
}
.nav>li {
  float: left;
}
.dropdown {
    margin-right: 10px;
}
.alert {
    margin: 0px;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
</style>

<header>
        <nav class="navbar navbar-expand-sm navbar-light mb-1" style="background-color: white; padding: auto; padding-top: 10px; padding-left: 5px">
            <div class="container-fluid">
                <div class="d-sm-inline-flex justify-content-between">
                    <input @bind="CurrentInput" @bind:event="oninput" class="form-control mr-sm-2" placeholder="Enter: ID" aria-label="Search" style="margin-right: 10px; width: 300px">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filters
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li class="dropdown-header text-primary">Status</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("Dispatched"))">Dispatched</a>
                          <li class="dropdown-header text-primary">Content</li>
                          <a class="dropdown-item" @onclick="@(e => AddFilter("binary data"))">Binary Data</a>
                      </div>
                    </div>
                    <div class="input-group" style="width:auto">
                      <span class="input-group-text btn-dark" id="basic-addon1">Start Date</span>
                      <input @bind="StartDate" class="form-control" type="datetime-local" id="datepicker">
                    </div>
                    <div class="input-group" style="width:auto">
                      <span class="input-group-text btn-dark" id="basic-addon1">End Date</span>
                      <input @bind="EndDate" class="form-control" type="datetime-local" id="datepicker">
                    </div>
                    <button @onclick="@ResetDate" type="button" class="btn btn-primary" style="margin-right: 10px">Clear Date</button>
                @foreach (var Filter in Filters)
                {
                    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="width: auto; padding-right:45px; margin-right: 10px">
                        @Filter
                        <button @onclick="(e => RemoveFilter(Filter))" type="button" class="btn-close" data-dismiss="alert" aria-label="Close" style="height: 4px; padding: 16px; padding-left: 5px">
                        </button>
                    </div>
                }
                </div>
            </div>
        </nav>
    </header>

<div>
<table class="table table-hover table-bordered">
  <thead style="background-color: #007DB8; color: white;">
  <tr>
    <th>ID</th>
    <th>Batch ID</th>
    <th>File Name</th>
    <th>Status</th>
    <th>Dispatched At</th>
    <th>Content</th>
  </tr>
  </thead>
  <tbody>
  <!-- Populate Table with Data from Database -->
  @if (StartDate == null && EndDate == null) {
      @foreach (var item in databaseService.GetBatchFiles()) {
            @if (CheckFilters(item) && (CurrentInput == "" || CurrentInput == null || item.ID.ToString().Contains(CurrentInput)))
            {
                <tr id="row" @onclick="(e => SelectItem(item))" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer" class="@Highlight(item.ID)">
                    <th>@item.ID</th>
                    <th>@item.batch_id</th>
                    <th>@item.file_name</th>
                    <th>@item.status</th>
                    <th>@item.dispatched_at</th>
                    <th>@item.content</th>
                </tr>
            }
      }
  }
  else {
      @foreach (var item in databaseService.GetBatchFileInTimeRange(StartDate, EndDate, "dispatched_at")) {
            @if (CheckFilters(item) && (CurrentInput == "" || CurrentInput == null || item.ID.ToString().Contains(CurrentInput)))
            {
                <tr id="row" @onclick="(e => SelectItem(item))" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
                    <th>@item.ID</th>
                    <th>@item.batch_id</th>
                    <th>@item.file_name</th>
                    <th>@item.status</th>
                    <th>@item.dispatched_at</th>
                    <th>@item.content</th>
                </tr>
            }
      }
  }
</tbody>
</table>
</div>

@if (@selectedItem != null)
{
    <!-- Modal -->
    <BatchFileDetails item="@selectedItem" />
}

@code {

    BatchFile selectedItem;
    string? CurrentInput;
    public List<string> Filters = new List<string>();
    DateTime? StartDate;
    DateTime? EndDate;

    void SelectItem(BatchFile item)
    {
        selectedItem = item;
    }

    bool CheckFilters(BatchFile batchFile)
    {
        int count = 0;
        if (Filters.Contains(batchFile.status)) count++;
        if (Filters.Contains(batchFile.content)) count++;
        if (count == Filters.Count())
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    void RemoveFilter(string Filter)
    {
        Filters.Remove(Filter);
    }

    void AddFilter(string Filter)
    {
        if (!Filters.Contains(Filter))
        {
            Filters.Add(Filter);
        }
    }

    void ResetDate()
    {
        StartDate = null;
        EndDate = null;
    }

    bool checkDateRange(DateTime itemDate)
    {
        if (StartDate == null && EndDate == null) return true;
        else if (StartDate == null && itemDate <= EndDate) return true;
        else if (EndDate == null && itemDate >= StartDate) return true;
        else if (itemDate >= StartDate && itemDate <= EndDate) return true;
        else
        {
            return false;
        }
    }

    String Highlight(Guid id)
    {
        if (inputItem == id)
        {
            return "highlight";
        }
        return "no-highlight";
    }

}