@using web_app.Models;
@using web_app.Services;
@using web_app.Components;
@using Microsoft.AspNetCore.Components.Web;
@inject DatabaseService databaseService;

@code {
    [Parameter]
    public BatchForward item { get; set; }

    public String GetBatchForwardErrorID()
    {
        BatchForwardError batchForwardError = databaseService.GetBatchForwardErrors().FirstOrDefault(x => x.batch_forward_id == item.ID);
        return batchForwardError.ID.ToString();
    }
}

@if (@item != null )
{

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding-left:30px">
        <h5 class="modal-title" id="exampleModalLabel">Batch Forward ID: @item.ID</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" style="margin-right: 0px">
        </button>
      </div>
      <div class="modal-body" style="padding:30px; padding-bottom:20px; padding-top:20px">
          
          <table class="table" style="border-collapse:collapse; table-layout:fixed; border:solid 1px">
          <tbody>
              <tr>
                <th>Batch Size:</th>
                <th>@item.batch_size</th>
              </tr>
              <tr>
                <th>Delivery Method:</th>
                <th>@item.delivery_method</th>
              </tr>
              <tr>
                <th>Campaign:</th>
                <th>@item.campaign</th>
              </tr>
              <tr>
                <th>Started At:</th>
                <th>@item.started_at</th>
              </tr>
              <tr>
                <th>Completed At:</th>
                <th>@item.completed_at</th>
              </tr>
              <tr>
                <th>Total Processed Messages:</th>
                <th>@item.total_processed_messages</th>
              </tr>
              <tr>
                <th>Total Processed Batches:</th>
                <th>@item.total_processed_batches</th>
              </tr>
              <tr>
                <th>Status:</th>
                <th>@item.forward_status</th>
              </tr>
         </tbody>
         </table>
      </div>
      <a href="/BatchForwardErrors?ID=@GetBatchForwardErrorID()" class="btn btn-outline-danger btn-lg" style="margin: 28px; margin-top: 0px">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
          &nbsp;Batch Forward Error
      </a>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}